.demo-reel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
}

@media only screen and (max-width: 900px) {
    .demo-reel-container {
        padding: 20px 0;
    }
}