footer {
  height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.footer-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upper {
  height: 80%;
  text-align: center;
  font-size: 12px;
}

.text-line {
  margin: 1px 0;
}

.lower {
  height: 20%;
  font-size: 11px;
}
