.video-grid-container {
    margin-top: 20px;
}

.video-grid-container .videos-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.vimeo-video-wrapper {
    margin: 2% 1% 0 1%;
    flex: 0 0 48%;
}

@media only screen and (max-width: 1400px) {
    .video-grid-container .videos-wrapper {
        flex-direction: row;
        justify-content: center;
    }
    .vimeo-video-wrapper {
        flex: unset;
        width: 80%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 750px) {
    .vimeo-video-wrapper {
        width: 100%;
    }
}

