html {
    background-color: #ffffff;
}

body {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #8C429E;
}

code {
    font-family: 'Maven Pro', sans-serif;
}

textarea, input {
    font-family: 'Maven Pro', sans-serif;
    border: solid 1px #bda6e1;
}

button[type=submit] {
    background-color: #8C429E;
}

.container-body {
    margin-bottom: 40px;
}