html {
    background-color: #ffffff;
}

@font-face {
    font-family: GraublauWeb;
    src: url("assets/fonts/freshwost.otf") format("opentype");
}

body {
    margin: 0;
    font-family: 'GraublauWeb', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
}

code {
    font-family: 'GraublauWeb', sans-serif;
}

textarea, input {
    font-family: 'GraublauWeb', sans-serif;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

button[type=submit] {
    background-color: #000;
    font-family: 'GraublauWeb', sans-serif;
    letter-spacing: 2.2px;
}

.container-body {
    margin-bottom: 40px;
}

.main-body {
    max-width: 1400px;
    width: 100%;
}
@media only screen and (max-width: 900px) {
    .container-body {
        margin-top: 80px;
    }
}
